<!DOCTYPE HTML>
<html ng-app="MediaticApp" ng-controller="IndexCtrl as index">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- Css Styles from bootstrap -->
	<link media="all" href="./css/bootstrap.css" rel="stylesheet" />
	<link media="all" href="./css/bootstrap-theme.css" rel="stylesheet" />
	
	<!-- TODO : voir si ca sert encore -->
	<link media="all" href="./css/tablesort.css" rel="stylesheet" />
	<link media="all" href="./css/tablesorter-style.css" rel="stylesheet" />
	
	<!-- Css for the app -->
	<link media="all" href="./css/app-style.css" rel="stylesheet" />
	
	
	<!-- Angular's Libraries -->
	<script src="./bower_components/angular/angular.js"></script>
	<script src="./bower_components/angular-route/angular-route.js"></script>
	<script src="./bower_components/angular-bootstrap/ui-bootstrap.js"></script>
	<script src="./bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	
	<!-- Library modified for tablesort -->
	<script src="./js/angular-tablesort.js"></script>
	
	<!-- Main controller -->
	<script src="./index.js"></script>
	
	<!-- Services -->
	<script src="./js/IpService.js"></script>
	<script src="./js/authentication.js"></script>
	
	<!-- Other Controllers -->
	<script src="./view-login/login.js"></script>

	<script src="./view-media/media.js"></script>
	<script src="./view-media/newMedia.js"></script>
	<script src="./view-media/mediaSheet.js"></script>

	<script src="./view-member/searchMemberCtrl.js"></script>
	<script src="./view-member/createMemberCtrl.js"></script>
	<script src="./view-member/memberSheetCtrl.js"></script>
	<!-- / Controllers -->
	
	<title ng-bind="titre"></title>
	
	<base href="/">
</head>

<body>

	<!-- HEADER FOR CONNECTED PAGES -->
	<header ng-if="index.isConnect()">
		<div class="jumbotron titre">
			<div class="container">
				<h1>Mediatic</h1>
			</div>
		</div>
		<nav class="navbar navbar-inverse navbar-static-top">
			<div class="container">
				<ul class="nav navbar-nav">
					<li class="{{mediaActive}}">
						<a href="#/media" class="hidden-xs">
							<strong><span class="glyphicon glyphicon-film" aria-hidden="true"></span><span>&nbsp;M&eacute;dias</span></strong>
						</a>
						<a href="#/media" class="visible-xs-inline-block">
							<strong><span class="glyphicon glyphicon-film" aria-hidden="true"></span></strong>
						</a>
					</li>
					<li class="{{memberActive}}">
						<a href="#/searchMember" class="hidden-xs">
							<strong><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;Adh&eacute;rents</strong>
						</a>
						<a href="#/searchMember" class="visible-xs-inline-block">
							<strong><span class="glyphicon glyphicon-user" aria-hidden="true"></span></strong>
						</a>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="#/login" class="hidden-xs">
							<strong><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>&nbsp;D&eacute;connexion</strong>
						</a>
						<a href="#/login" class="visible-xs-inline-block">
							<strong><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></strong>
						</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>
	<!-- / HEADER FOR CONNECTED PAGES -->
	
	<!-- HEADER FOR NOT CONNECTED PAGES (LOGIN) -->
	<header ng-if="! index.isConnect()">
		<div class="container">
			<div class="jumbotron titre">
				<h1>Bienvenue sur Mediatic</h1>
				<p>Le site de gestion des emprunts et des adh&eacute;rents de la m&eacute;diath&egrave;que</p>
			</div>
		</div>
	</header>
	<!-- / HEADER FOR NOT CONNECTED PAGES (LOGIN) -->
	
	<main class="container">
		<ng-view></ng-view>
	</main>
	
	<!-- FOOTER FOR CONNECTED PAGES -->
	<footer ng-if="index.isConnect()">
		<div class="jumbotron dernier">
			<div class="container">
				<div class="text-center anoir">
					<a href="#">© La team.</a><br>
				</div>
			</div>
			<br> <br>
		</div>
	</footer>
	<!-- / FOOTER FOR CONNECTED PAGES -->

	<!-- FOOTER FOR NOT CONNECTED PAGES (LOGIN) -->
	<footer ng-if="! index.isConnect()">
		<div class="container">
			<div class="jumbotron dernier">
				<div class="container">
					<div class="text-center anoir">
						<a href="#">© La team.</a><br>
					</div>
				</div>
				<br> <br>
			</div>
		</div>
	</footer>
	<!-- / FOOTER FOR NOT CONNECTED PAGES (LOGIN) -->
	
</body>
</html>