h2 {
	text-align: center;
}

.hidden {
	display: none;
}

.pointer {
	cursor: pointer;
}

/* Pagination */

.gris {
	text-align: center;
 }

.gris .pagination > .active > a {
	background-color: #bfbfbf !important;
	border-color: #bfbfbf !important;
}

.gris .pagination > li > a {
	color: #262626 !important;
}
/* Le footer */
.jumbotron.dernier {
	padding-bottom: 0px;
	margin-bottom: 0px;
}
/* couleur des liens - footer */
.anoir a:visited, .anoir a:hover, .anoir a:link, .anoir a:active {
	color: black;
	font-weight: bold;
	font-size: 16px;
}