h2 {
	text-align: center;
}

.hidden {
	display: none;
}

.pointer {
	cursor: pointer;
}

/* Pagination */

.gris {
	text-align: center;
 }

.gris .pagination > .active > a {
	background-color: #bfbfbf !important;
	border-color: #bfbfbf !important;
}

.gris .pagination > li > a {
	color: #262626 !important;
}