<div class="row">
	<div class="col-xs-12">
		<h2>Recherche de m&eacute;dias</h2>
		<hr/>
		<!-- FORMULAIRE RECHERCHE DE MEDIA -->
		<div class="formulaire">
			<form name="formSearchMedias" class="form-horizontal" novalidate ng-submit="media.searchMedias()">
				<div class="form-group">
					<label class="control-label col-xs-12 col-sm-3 col-md-2 col-lg-2">Titre</label>
					<div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
						<input type="text" class="form-control" ng-model="media.search.title" id="titre" name="titre" placeholder="Titre" maxlength=200>
					</div>
				</div>
				
				<!--  <div class="form-group">
					<label class="control-label col-xs-12 col-sm-3 col-md-2 col-lg-2"></label>
					<div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
						<label>Ou</label>
					</div>
				</div>-->
				
				<div class="form-group">
					<label class="control-label col-xs-12 col-sm-3 col-md-2 col-lg-2">Auteur</label>
					<div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
						<input type="text" class="form-control" ng-model="media.search.author" id="auteur" name="auteur" placeholder="Auteur" maxlength=200>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-12 col-sm-3 col-md-2 col-lg-2">Type</label>
					<div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
						<select id="type" class="form-control" name="type" ng-model="media.search.type">
							<option value=""></option>
							<option value="Livre">Livre</option>
							<option value="CD">CD</option>
							<option value="DVD">DVD</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-offset-2 col-lg-offset-2 col-sm-offset-3 col-xs-12 col-sm-6 col-md-5 col-lg-5">
						<!-- BUTTONS ADD NEW MEDIA -->
						<input type="button" class="btn btn-info hidden-xs" value="Ajouter un m&eacute;dia" ng-click="media.goNewMedia()" ng-show="media.displayButtonAdd">
						<button type="button" class="btn btn-info visible-xs-inline-block" ng-click="media.goNewMedia()" ng-show="media.displayButtonAdd">
							<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
						</button>
						<!-- BUTTONS SEARCH -->
						<input type="submit" class="btn btn-success pull-right hidden-xs" value="Rechercher" >
						<button type="submit" class="btn btn-success pull-right visible-xs-inline-block">
							<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
						</button>
					</div>
				</div>
			</form>
		</div>
		<br>
		<!-- / FORMULAIRE RECHERCHE DE MEDIA -->
	
		<!-- TABLE RESULTAT DE LA RECHERCHE DE MEDIA -->
		<div id="divRechMedia" ng-show="media.mediasList.length>0">
			<table id="tableRechMedia" class="table table-striped table-hover" ts-wrapper>
				<thead>
					<tr>
						<th ts-criteria="title" ts-default>Titre</th>
						<th ts-criteria="type">Type</th>
						<th ts-criteria="author">Auteur</th>
						<th ts-criteria="borrower">Emprunteur</th>
						<th ts-criteria="returnDate">Date de retour</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="med in media.mediasList 
								  | filter : {'title':media.search.title} 
								  | filter : {'author':media.search.author} 
								  | filter : {'type':media.search.type} as mediaListFilt" ts-repeat>
						<td ng-bind="med.title"></td>
						<td ng-bind="med.type"></td>
						<td ng-bind="med.author"></td>
						<td ng-bind="med.borrower"></td>
						<td ng-bind="med.returnDate"></td>
						<td>
							<a href="#/mediaSheet/{{med.id}}">
								<i class="glyphicon glyphicon-eye-open pointer" aria-hidden="true"></i>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
			
			<!-- PAGINATION -->
			<div class="paginationMember">
				<div uib-pagination	boundary-links="true" 
					 total-items="45" 
					 items-per-page="4" 
					 ng-model="1" 
					 num-pages="10" 
					 previous-text="&lsaquo;" 
					 next-text="&rsaquo;" 
					 first-text="&laquo;" 
					 last-text="&raquo;"
					 style="margin: auto;">
				</div>
			</div>
			<!-- / PAGINATION -->
		</div>
		<!-- / TABLE RESULTAT DE LA RECHERCHE DE MEDIA -->
	</div>
</div>

