<!-- Messages -->
<div ng-show="showError" ng-class="{fade:doFade}" class="alert alert-danger"><strong>Une erreur s'est produite :</strong> emprunt non effectu&eacute;</div>

<div ng-show="showSuccess" ng-class="{fade:doFade}" class="alert alert-success"><strong>Le livre est emprunt&eacute; :</strong> emprunt r&eacute;alis&eacute; avec succ&egrave;s</div>

<div ng-show="showErrorEdit" ng-class="{fade:doFade}" class="alert alert-danger"><strong>Une erreur s'est produite :</strong> la modification n'a pas &eacute;t&eacute; effectu&eacute;</div>

<div ng-show="showSuccessEdit" ng-class="{fade:doFade}" class="alert alert-success"><strong>Modification effectu&eacute; :</strong> la modification r&eacute;alis&eacute; avec succ&egrave;s</div>
<!-- / Messages -->

<div ng-controller="MediaSheetMediaCtrl as MSMctrl">
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
		<h2>D&eacute;tail d'un m&eacute;dia</h2>
		<hr/>
		<div class="formulaire">
			<form name="formEditMedia" class="form-horizontal" novalidate>
				<div class="form-group">
					<label class="control-label col-xs-12 col-sm-3 col-md-3 col-lg-3">Titre&nbsp;<span class="text-danger">*</span></label>
					<div class="col-xs-12 col-sm-5 col-md-7 col-lg-7">
						<input type="text" class="form-control" id="mediaEditTitre" ng-model="MSMctrl.media.mediaEditTitre" placeholder="Titre" ng-required="true" maxlength=150>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-12 col-sm-3 col-md-3 col-lg-3">Auteur&nbsp;<span class="text-danger">*</span></label>
					<div class="col-xs-12 col-sm-5 col-md-7 col-lg-7">
						<input type="text" class="form-control" id="mediaEditAuteur" ng-model="MSMctrl.media.mediaEditAuteur" placeholder="Auteur" ng-required="true" maxlength=150>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-12 col-sm-3 col-md-3 col-lg-3">Type&nbsp;<span class="text-danger">*</span></label>
					<div class="col-xs-12 col-sm-5 col-md-7 col-lg-7">
						<select id="mediaEditType" class="form-control" ng-model="MSMctrl.media.mediaEditType" ng-required="true">
							<option value="BOOK">Livre</option>
							<option value="CD">CD</option>
							<option value="DVD">DVD</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-4 col-md-offset-3 col-lg-offset-3 col-xs-12 col-sm-4 col-md-7 col-lg-7" ng-click="MSMctrl.editMedia(MSMctrl.media.mediaEditId, MSMctrl.media.mediaEditTitre, MSMctrl.media.mediaEditAuteur, MSMctrl.media.mediaEditType)">
						<input type="button" class="btn btn-success pull-right hidden-xs" value="Modifier" ng-disabled="formEditMedia.$invalid">
						<button type="submit" class="btn btn-success pull-right visible-xs-inline-block" ng-disabled="formEditMedia.$invalid">
							<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="row" ng-controller="PaginationCtrl as paginationCtrl">
	<div class="liste col-xs-12 col-sm-12 col-md-8 col-lg-8">
		<h2>Emprunteurs</h2>
		<table class="table table-striped table-hover" ts-wrapper ts-no-data-text="Aucun r&eacute;sultat">
			<thead>
				<tr>
					<th ts-criteria="nom" ts-default>Nom</th>
					<th ts-criteria="prenom">Pr&eacute;nom</th>
					<th ts-criteria="dateLoan">Date d'emprunt</th>
					<th ts-criteria="dateReturn">Date de retour</th>
				</tr>
			</thead>
			<tbody >
				<tr ng-repeat="loan in MSMctrl.emprunteurs | paginationFilter:paginationCtrl.currentPage:MSMctrl.itemsPerPage" ts-repeat>
					<td ng-bind="loan.nom"></td>
					<td ng-bind="loan.prenom"></td>
					<td ng-bind="loan.dateLoan | date : 'dd/MM/yyyy'"></td>
					<td ng-bind="loan.dateReturn | date : 'dd/MM/yyyy'"></td>
				</tr>
			</tbody>
		</table>
		<!-- PAGINATION -->
		<div class="paginationElement">
			<div uib-pagination	
					boundary-links="true" 
					total-items="MSMctrl.emprunteurs.length"
					items-per-page="MSMctrl.itemsPerPage" 
					ng-model="paginationCtrl.currentPage" 
					max-size="paginationCtrl.maxSize" 
					previous-text="&lsaquo;" 
					next-text="&rsaquo;" 
					first-text="&laquo;" 
					last-text="&raquo;"
					style="margin: auto;">
			</div>
		</div>
		<!-- / PAGINATION -->
	</div>
</div>


<!-- Formulaire de Recherche et d'Ajout Emprunteur (Matthieu) -->

<div class="row" ng-controller="MediaSheetLoanCtrl as MSLctrl">
	<aside class="col-xs-12">
		<h2>
			R&eacute;aliser un emprunt<span class="glyphicon glyphicon-menu-down pull-right" aria-hidden="true" data-toggle="collapse" data-target="#emprunteur" ng-click="isNavCollapsed = !isNavCollapsed"></span>
		</h2>
		<hr />
		<div id="emprunteur" class="collapse" uib-collapse="isNavCollapsed">
			<form id="rechercheEmprunteur" action="" method="GET" class="form-horizontal">
				<div class="form-group">
					<label for="idIdentifiant" class="control-label col-xs-12 col-sm-3 col-md-2 col-lg-2">Identifiant</label>
					<div class="col-xs-6 col-sm-5 col-md-5 col-lg-5">
						<input type="text" class="form-control" id="mediaIdSearch" ng-model="mediaIdSearch" placeholder="Identifiant">
					</div>
				</div>
				<div class="form-group">
					<label for="idNom" class="control-label col-xs-12 col-sm-3 col-md-2 col-lg-2">Nom</label>
					<div class="col-xs-6 col-sm-5 col-md-5 col-lg-5">
						<input type="text" class="form-control" id="mediaNameSearch" ng-model="mediaNameSearch" placeholder="Nom">
					</div>
				</div>
				<div class="form-group">
					<label for="idPrenom" class="control-label col-xs-12 col-sm-3 col-md-2 col-lg-2">Pr&eacute;nom</label>
					<div class="col-xs-6 col-sm-5 col-md-5 col-lg-5">
						<input type="text" class="form-control" id="mediaSecondeNameSearch" ng-model="mediaSecondeNameSearch" placeholder="Pr&eacute;nom">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-4 col-md-offset-2 col-lg-offset-2 col-xs-6 col-sm-4 col-md-5 col-lg-5" ng-click="MSLctrl.searchMember()">
						<button type="submit" class="btn btn-success pull-right hidden-xs">Rechercher</button>
						<button type="submit" class="btn btn-success pull-right visible-xs-inline-block">
							<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
						</button>
					</div>
				</div>
			</form>
			<br>
			<form id="validEmprunteur" name="loanForm" ng-controller="PaginationCtrl as paginationCtrl" class="form-horizontal" ng-show="MSLctrl.mySearchList.length>0" novalidate ng-submit="MSLctrl.addLoan(MSLctrl.loanMember)">
				<table class="table table-striped table-hover" ts-wrapper ts-no-data-text="Aucun r&eacute;sultat">
					<thead>
						<tr>
							<th class="col-xs-3" ts-criteria="id" ts-default>Identifiant</th>
							<th class="col-xs-4" ts-criteria="firstname">Nom</th>
							<th class="col-xs-4" ts-criteria="secondename">Pr&eacute;nom</th>
							<th class="col-xs-1"><!-- <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> --></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="search in MSLctrl.mySearchList
								  | filter : {'id'          : mediaIdSearch}
								  | filter : {'firstname'   : mediaNameSearch}
								  | filter : {'secondename' : mediaSecondeNameSearch}
								  | paginationFilter:paginationCtrl.currentPage:MSLctrl.itemsPerPage
								  as listFilter" ts-repeat>
							<td ng-bind="search.id"></td>
							<td ng-bind="search.firstname"></td>
							<td ng-bind="search.secondename"></td>
							<td class="form-group">
								<input type="radio" id="{{search.id}}" ng-model="MSLctrl.loanMember" name="toto" value="{{search.id}}" ng-required="true"/>
							</td>
						</tr>
					</tbody>
				</table>
				<!-- PAGINATION -->
				<div class="paginationElement">
					<div uib-pagination	
							boundary-links="true" 
							total-items="(MSLctrl.mySearchList | filter : {'id': mediaIdSearch} | filter : {'firstname' : mediaNameSearch} | filter : {'secondename' : mediaSecondeNameSearch}).length"
							items-per-page="MSLctrl.itemsPerPage" 
							ng-model="paginationCtrl.currentPage" 
							max-size="paginationCtrl.maxSize" 
							previous-text="&lsaquo;" 
							next-text="&rsaquo;" 
							first-text="&laquo;" 
							last-text="&raquo;"
							style="margin: auto;">
					</div>
				</div>
				<!-- / PAGINATION -->
				<div class="form-group">
					<div class="col-xs-offset-6 col-sm-offset-8 col-md-offset-10 col-lg-offset-10 col-xs-6 col-sm-4 col-md-2 col-lg-2">
						<input type="submit" class="btn btn-success pull-right hidden-xs" ng-disabled="loanForm.$invalid" value="Ajouter l'emprunteur"/>
						<button type="submit" class="btn btn-success pull-right visible-xs-inline-block" ng-disabled="loanForm.$invalid">
							<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
						</button>
					</div>
				</div>
			</form>
			<hr />
		</div>
	</aside>
</div>