<!-- Messages -->
<div ng-show="newMedia.messCreateOk" ng-class="{fade:doFade}" class="alert alert-success">
	<strong>Le media a bien &eacute;t&eacute; cr&eacute;&eacute;.</strong>
</div>
<!-- / Messages -->

<div class="row">
	<div class="col-xs-12">
	
		<h2>Nouveau m&eacute;dia</h2>
		<hr/>
		
		<div class="formulaire">
			<form name="formNewMedia" class="form-horizontal" novalidate ng-submit="newMedia.addMedia()">
				<div class="form-group">
					<label class="control-label col-xs-12 col-sm-3 col-md-2 col-lg-2">Titre&nbsp;<span class="text-danger">*</span></label>
					<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
						<input type="text" class="form-control" ng-model="newMedia.mediaToAdd.title" id="titre" name="title" placeholder="Titre" ng-required="true" maxlength=150>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-12 col-sm-3 col-md-2 col-lg-2">Auteur&nbsp;<span class="text-danger">*</span></label>
					<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
						<input type="text" class="form-control" ng-model="newMedia.mediaToAdd.author" id="auteur" name="author" placeholder="Auteur" ng-required="true" maxlength=150>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-12 col-sm-3 col-md-2 col-lg-2">Type&nbsp;<span class="text-danger">*</span></label>
					<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
						<select id="type" class="form-control" ng-model="newMedia.mediaToAdd.type" name="type" ng-required="true">
							<option value=""></option>
							<option value="BOOK">Livre</option>
							<option value="CD">CD</option>
							<option value="DVD">DVD</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-3 col-md-offset-2 col-lg-offset-2 col-xs-12 col-sm-5 col-md-5 col-lg-5">
						<!-- BUTTON CANCEL -->
						<input type="button" class="btn btn-default hidden-xs" value="Retour" ng-click="newMedia.goBackMedia()">
						<button type="button" class="btn btn-default visible-xs-inline-block" ng-click="newMedia.goBackMedia()">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						</button>
						
						<!-- BUTTON ADD -->
						<input type="submit" class="btn btn-success pull-right hidden-xs" value="Cr&eacute;er le m&eacute;dia" ng-disabled="formNewMedia.$invalid">
						<button type="submit" class="btn btn-success pull-right visible-xs-inline-block" ng-disabled="formNewMedia.$invalid">
							<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>