<!-- Messages -->
<div ng-show="createMemberCtrl.messCreateOk" ng-class="{fade:doFade}" class="alert alert-success">
	<strong>L'adh&eacute;rent a bien &eacute;t&eacute; cr&eacute;&eacute;.</strong>
</div>
<!-- / Messages -->

<main class="container">
	<div class="row">
		<div class="col-xs-12">
			<h2>Cr&eacute;er adh&eacute;rent</h2>
			<hr/>
			<div class="formulaire">
				<form name="CreateMemberForm" class="form-horizontal" ng-submit="createMemberCtrl.setMemberSheet()" novalidate>
					<div class="form-group">
						<label class="control-label col-xs-12 col-sm-3 col-md-2 col-lg-2" for="lastname">Nom&nbsp;<span class="text-danger">*</span></label>
						<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
							<input type="text" class="form-control" id="lastname" name="lastname" ng-model="createMemberCtrl.lastname" placeholder="Nom" ng-required="true">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-xs-12 col-sm-3 col-md-2 col-lg-2" for="firstname">Pr&eacute;nom&nbsp;<span class="text-danger">*</span></label>
						<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
							<input type="text" class="form-control" id="firstname" name="firstname" ng-model="createMemberCtrl.firstname" placeholder="Pr&eacute;nom" ng-required="true">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-xs-12 col-sm-3 col-md-2 col-lg-2" for="birthdate">Date de naissance&nbsp;<span class="text-danger">*</span></label>
						<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
							<input type="date" class="form-control" id="birthdate" name="birthdate" ng-model="createMemberCtrl.birthdate" placeholder="Date de naissance (AAAA-MM-JJ)" ng-required="true" ng-blur="createMemberCtrl.getAge()">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-xs-12 col-sm-3 col-md-2 col-lg-2" for="age">Age</label>
						<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
							<input type="text" class="form-control" id="age" name="age" ng-model="createMemberCtrl.age" placeholder="Age" readonly>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-xs-12 col-sm-3 col-md-2 col-lg-2" for="email">E-mail&nbsp;<span class="text-danger">*</span></label>
						<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
							<input type="email" class="form-control" id="email" name="email" ng-model="createMemberCtrl.email" placeholder="E-mail (exemple@exemple.com)" ng-required="true">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-xs-12 col-sm-3 col-md-2 col-lg-2" for="address">Adresse</label>
						<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
							<input type="text" class="form-control" id="address" name="address" ng-model="createMemberCtrl.address" placeholder="Adresse">
					    </div>
					</div>
					<div class="form-group">
						<label class="control-label col-xs-12 col-sm-3 col-md-2 col-lg-2">&nbsp;</label>
						<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
				            <div class="form-group row">
				                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				                    <input type="text" class="form-control" id="postalcode" name="postalcode" ng-model="createMemberCtrl.postalcode" placeholder="Code postal">
				                </div>
				                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				                    <input type="text" class="form-control" id="town" name="town" ng-model="createMemberCtrl.town" placeholder="Ville">
				                </div>
				            </div>
				        </div>
					</div>
					<div class="form-group">
						<label class="control-label col-xs-12 col-sm-3 col-md-2 col-lg-2"
							for="gender">Genre</label>
						<div class="col-xs-1 col-sm-1 col-md-1">
							<div class="radio">
								<label><input type="radio" name="gender" placeholder="gender" value="Homme" checked="checked">Homme</label>
								<label><input type="radio" name="gender" placeholder="gender" value="Femme">Femme</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-xs-12 col-sm-3 col-md-2 col-lg-2" for="subscriptionAmount">Cotisation</label>
						<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
							<div class="input-group">
								<span class="input-group-addon" id="basic-addon1">€</span>
								<input type="number" class="form-control" id="subscriptionAmount" name="subscriptionAmount" ng-model="createMemberCtrl.subscriptionAmount" placeholder="Montant">
								<span class="input-group-addon" id="basic-addon2">.00</span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-xs-12 col-sm-3 col-md-2 col-lg-2" for="subscriptionDate">Date de cotisation</label>
						<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
							<input type="date" class="form-control" id="subscriptionDate" name="subscriptionDate" ng-model="createMemberCtrl.subscriptionDate" placeholder="Date de cotisation" readonly>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-4 col-md-offset-2 col-lg-offset-2 col-xs-12 col-sm-4 col-md-5 col-lg-5">
							<button type="button" class="btn btn-default hidden-xs" ng-click="createMemberCtrl.returnToSearch()">Retour</button>
							<div class="btn-group pull-right" role="group" aria-label="...">
								<button type="reset" class="btn btn-info hidden-xs">Remettre &agrave; z&eacute;ro</button>
								<button type="submit" class="btn btn-success hidden-xs" ng-disabled="CreateMemberForm.$invalid">Cr&eacute;er Adh&eacute;rent</button>
							</div>
							
							<!-- Boutons de la Version mobile -->
							<div class="btn-group btn-group-justified" role="group" aria-label="...">
								<div class="btn-group" role="group">
									<button type="button" class="btn btn-default visible-xs-inline-block" ng-click="createMemberCtrl.returnToSearch()"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></button>
								</div>
								<div class="btn-group" role="group">
									<button type="reset" class="btn btn-info visible-xs-inline-block"><span class="glyphicon glyphicon-repeat" aria-hidden="true"></span></button>
								</div>
								<div class="btn-group" role="group">
									<button type="submit" class="btn btn-success visible-xs-inline-block" ng-disabled="CreateMemberForm.$invalid"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
								</div>
							</div>
						</div>
					</div>
					
					<!-- Gestion des erreurs de saisie dans le formulaire -->
						<div ng-show="CreateMemberForm.$invalid && ((CreateMemberForm.lastname.$dirty && CreateMemberForm.lastname.$error.required)
																	|| (CreateMemberForm.firstname.$dirty && CreateMemberForm.firstname.$error.required) 
																	|| (CreateMemberForm.birthdate.$dirty)
																	|| (CreateMemberForm.email.$dirty) )"
							 class="alert alert-danger" role="alert">
							<span>Le Formulaire est invalide :</span><br/>
							<span ng-show="CreateMemberForm.lastname.$dirty && CreateMemberForm.lastname.$error.required">- Le Nom est requis.<br/></span>
							<span ng-show="CreateMemberForm.firstname.$dirty && CreateMemberForm.firstname.$error.required">- Le Pr&eacute;nom est requis.<br/></span>
							
							<span ng-show="CreateMemberForm.birthdate.$dirty && ! CreateMemberForm.birthdate.$error.required && CreateMemberForm.birthdate.$invalid">- La Date de naissance est mal-form&eacute;e: elle doit être de la forme: 'AAAA-MM-JJ'.<br/></span>
							<span ng-show="CreateMemberForm.birthdate.$dirty && CreateMemberForm.birthdate.$error.required">- La Date de naissance est requise.<br/></span>
							
							<span ng-show="CreateMemberForm.email.$dirty && ! CreateMemberForm.email.$error.required && CreateMemberForm.email.$invalid">- L'E-mail est mal-form&eacute;. Il doit être de la forme: 'exemple@exemple.com'.<br/></span>
							<span ng-show="CreateMemberForm.email.$dirty && CreateMemberForm.email.$error.required">- L'E-mail est requis.<br/></span>
						</div>
					<!-- / -->
				</form>
			</div>
		</div>
	</div>
	
</main>