<div class="row">
	<div class="col-xs-12">
		<h2>Recherche d'adh&eacute;rent</h2>
		<hr/>
		<div class="formulaire">
			<form class="form-horizontal" method="GET" name="searchMemberForm" novalidate>
				<div class="form-group">
					<label class="control-label col-xs-12 col-sm-3 col-md-2 col-lg-2">Identifiant</label>
					<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
						<input type="text" class="form-control" ng-model="searchMemberCtrl.element.id" name="mId" placeholder="Identifiant">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-12 col-sm-3 col-md-2 col-lg-2">Nom</label>
					<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
						<input type="text" class="form-control" ng-model="searchMemberCtrl.element.lastname" name="mLastName" placeholder="Nom">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-12 col-sm-3 col-md-2 col-lg-2">Pr&eacute;nom</label>
					<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
						<input type="text" class="form-control" ng-model="searchMemberCtrl.element.firstname" name="mFirstname" placeholder="Pr&eacute;nom">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-3 col-md-offset-2 col-lg-offset-2 col-xs-12 col-sm-5 col-md-5 col-lg-5">
						<div class="form-inline">
							<button type="submit" class="btn btn-success pull-right hidden-xs" ng-click="searchMemberCtrl.search()">Rechercher</button>
							<button type="submit" class="btn btn-info hidden-xs" ng-click="searchMemberCtrl.addNewMember()" ng-show="searchMemberCtrl.displayButtonAdd">Ajouter un adh&eacute;rent</button>
							
							<!-- Boutons de la Version mobile -->
							<div class="btn-group btn-group-justified" role="group" aria-label="...">
								<div class="btn-group" role="group">
									<button type="submit" class="btn btn-success pull-right visible-xs-inline-block" ng-click="searchMemberCtrl.search()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
								</div>
								<div class="btn-group" role="group">
									<button type="submit" class="btn btn-info visible-xs-inline-block" ng-click="searchMemberCtrl.addNewMember()" ng-show="searchMemberCtrl.displayButtonAdd"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
		<br>
		<!-- TABLE RESULTAT DE LA RECHERCHE D'ADHERENT -->
		<div id="divRechAdh" ng-controller="PaginationCtrl as paginationCtrl" ng-class="{hidden : (searchMemberCtrl.adherents == undefined) || (searchMemberCtrl.adherents.length <= 0) }">
			<table id="tableRechAdh" class="table table-striped table-hover tablesorter" ts-wrapper ts-no-data-text="Aucun r&eacute;sultat">
				<thead>
					<tr>
						<th ts-criteria="id" ts-default>Identifiant</th>
						<th ts-criteria="nom">Nom</th>
						<th ts-criteria="prenom">Prénom</th>
						<th ts-criteria="date_naissance">Date naissance</th>
						<th ts-criteria="cotisation.debut">Cotisation &agrave; jour</th>
						<th ts-criteria="emprunt.length">Nb emprunts</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="adherent in searchMemberCtrl.adherents | paginationFilter:paginationCtrl.currentPage:searchMemberCtrl.itemsPerPage" ts-repeat>
						<td ng-bind="adherent.id"></td>
						<td ng-bind="adherent.nom"></td>
						<td ng-bind="adherent.prenom"></td>
						<td ng-bind="adherent.date_naissance | date: 'dd/MM/yyyy'"></td>
						<td ng-bind="adherent.cotisation.debut | date: 'dd/MM/yyyy'"></td>
						<td ng-bind="adherent.emprunt.length"></td>
						<td><i class="glyphicon glyphicon-eye-open pointer" aria-hidden="true" ng-click="searchMemberCtrl.callMemberSheet(adherent.id)"></i></td>	
					</tr>
				</tbody>
			</table>
			<!-- / TABLE RESULTAT DE LA RECHERCHE D'ADHERENT -->
		
			<!-- PAGINATION -->
			<div class="paginationElement">
				<div uib-pagination	boundary-links="true" 
							total-items="searchMemberCtrl.adherents.length" 
							items-per-page="searchMemberCtrl.itemsPerPage" 
							ng-model="paginationCtrl.currentPage" 
							max-size="paginationCtrl.maxSize" 
							previous-text="&lsaquo;" 
							next-text="&rsaquo;" 
							first-text="&laquo;" 
							last-text="&raquo;"
							style="margin: auto;">
				</div>
			</div>
			<!-- / PAGINATION -->
		</div>
	</div>
</div>
